.button {
  border-radius: 10px;
  background-color: #333;
  outline: none;
  border: none;
  height: 100px;
}
.light-grey {
  background-color: #999;
}
.orange {
  background-color: rgb(255, 174, 0);
}
.long {
  width: 200%;
}
.number {
  color: #fff;
}
.hidden {
  visibility: hidden;
}
